---
layout: default
blog: true
---

<article class='ten columns offset-by-four' id="article-content">
  <header class="ten columns" id="article-header">
    <h1>{{ page.title }}</h1>
  </header>

  <div class='ten columns gray' id="date-header">
    <p>
      {{ page.date | date: "%b %Y" }}
  {% if page.updated_at %}
      revised {{ page.updated_at }}
  {% endif %}
    </p>

  </div>

  <div class="ten columns" id="article-content">
    {{ content }}
  </div>

  <footer class="ten columns">
<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"hihell"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->    
  </footer>
</article>
